.menu-burger {

    position: sticky;
    top: 0px;
    min-width: 320px;
    height: 100%;
    max-height: 1024px;

    @media (max-width: 1000px) {
        position: absolute;
        z-index: 10;
    }
    // position: fixed;



    // @media (max-width: 1000px) {
    //     & {
    //         position: fixed;
    //         left: -320px;
    //     }
    // }

    .container-aside {
        box-sizing: border-box;
        // min-width: 237px;
        // position: fixed;
        // max-width: 320px;
        // min-height: 100%;
        // min-height: 700px;
        // max-height: 1024px;
        min-height: 100%;
        padding: 16px;
        display: flex;
        flex-direction: column;
        background-color: $bgColor-other;
        // box-shadow: 10px 2px 30px -5px rgba(34, 60, 80, 0.56);

        @media (max-width: 1000px) {
            box-shadow: 10px 2px 30px -5px rgba(34, 60, 80, 0.56);
        }
    }

    .menu-header {
        // padding: 0 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        margin-bottom: 40px;

        &__list {
            display: flex;
            justify-content: space-between;
            margin-right: auto;
            align-items: center;
            gap: 16px;
        }

        &__item--close {
            @media (min-width: 1000px) {
                & {
                    display: none;
                }
            }
        }

        .btn-search{
            background-image: url("../img/true/search.svg");
        }

        .btn-close {
            background-image: url("../img/true/close.svg");
        }
    }

    .menu-main {
        flex: 1 1 auto;
    }

    .nav {
        margin-bottom: 40px;

        &__list {
            display: flex;
            flex-direction: column;
            gap: 30px;

            // @media (max-width: 1000px) {
            //     gap: 15px;
            // }

            @media (max-height: 700px) {
                gap: 20px;
            }
        }

        &__item {
            display: flex;
            gap: 20px;
            align-items: center;
        }

        &__link {
            margin: 0;
            line-height: 24px;
            color: #1B1C21;
            font-family: "TT Lakes";
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: -0.2px;
            text-decoration: none;
        }

        .highlight {
            margin-left: -16px;
            background-color: #41F6D7;
            border-radius: 0px 10px 10px 0px;
            white-space: nowrap;
            width: 4px;
            height: 24px;
        }
    }

    .menu-footer {
        // padding: 24px;
        .icons {
            &__list {
                display: flex;
                gap: 16px;
            }

            &--mrgb{
                margin-bottom: 16px;
            }
        }

        .btn-call {
            background-image: url("../img/true/call.svg");
        }

        .btn-chat {
            background-image: url("../img/true/chat.svg");
        }

        .btn-profile {
            background-image: url("../img/true/profile.svg"); 
        }

        .contact {
            &__link {
                margin-bottom: 16px;
            }

            &__email {
                line-height: 24px;
                color: #1B1C21;
                font-family: "TT Lakes";
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
                letter-spacing: -0.2px;
            }

            &__number {
                line-height: 32px;
                color: #1B1C21;
                font-family: "TT Lakes";
                font-size: 24px;
                font-style: normal;
                font-weight: 900;
                letter-spacing: -0.6px;
            }
        }

        .lang {
            &__list {
                display: flex;
                gap: 5px;
            }

            &__btn {
                border: none;
                cursor: pointer;
                background-color: #fff;
                padding: 0;
                line-height: 24px;
                color: #1B1C21;
                font-family: "TT Lakes";
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
                letter-spacing: -0.2px;
            }
        }
    }

    &--show {
        left: -350px;
        
    }

}