.title-icons {
    @media (max-width: 1000px) {
        & {
            display: none;
        }
    }

    &__list {
        display: flex;
        margin: 0;
        padding: 0;
        gap: 16px;
        justify-content: center;
    }
    
    &__item {
        display: flex;
        list-style-type: none;
        align-items: center;
    }
    
    &__btn {
        @include btn-icon();
    }
    
    .btn-repair {
        background-image: url("../img/true/repair.svg");
    }
    
    .btn-checkstatus {
        background-image: url("../img/true/checkstatus.svg");
    }
    
    &__text {
        font-weight: 600;
        margin: 0;
        margin-right: 5px;
    
        color: $text;
        font-family: "TT Lakes";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px; /* 142.857% */
        letter-spacing: -0.6px;
    }
}

